
  <h1>Compara las siguientes cuentas:</h1>

  <form class="form-group">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="usuario_instagram" style="margin-top: 10px"/> 
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="usuario_instagram" style="margin-top: 10px"/> 
      </div>
      <div class="col-md-3">
        <button class="js-submit btn btn-default" type="submit" style="margin-top: 10px">+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button class="js-submit btn btn-primary" type="submit" style="margin-top: 10px">COMPARAR</button>
      </div>
    </div>
  </form>

  <ul class="js-character-list list-unstyled"></ul> 
   
  <script src="index.js"></script>
