// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


footer{
  background-color: #3F6E98;
  color: white;
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 1170px;
  border-style: solid;
  border-color: #D3EAFF;
  border-width: 4px 0px 0px 0px;
  text-align: center;
  padding-top: 8px;
}

header{
  background-color: #3F6E98;
  color: white;
  /*position: fixed;*/
  height: 130px;
  /*top: 0;*/
  text-align: center;
  padding-top: 30px;

  border-style: solid;
  border-color: #D3EAFF;
  border-width: 0px 0px 2px 0px;
}

.cuerpo{
  background-color: #D3EAFF; 
  border-style: solid;
  border-color: #76B0E4;
  height: 451px;
  border-width: 4px 0px 2px 0px;
  color: #3F6E98;
}

.js-txbox-line{
  margin-top: 10px;
}

.usu-name{
  margin-right: 40px;
  float: left;
  text-align: center;
}
