// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html {
  height: 100%
}

footer{
  background-color: #3F6E98;
  color: white;
  //position: fixed;
  height: 40px;
  //bottom: 0;
  border-style: solid;
  border-color: #F7FBFF;
  border-width: 4px 0px 0px 0px;
  text-align: center;
  padding-top: 8px;
}

header{
  background-color: #3F6E98;
  color: white;
  /*position: fixed;*/
  height: 130px;
  /*top: 0;*/
  text-align: center;
  padding-top: 30px;

  border-style: solid;
  border-color: #F7FBFF;
  border-width: 0px 0px 2px 0px;
}

.cuerpo{
  background-color: #F7FBFF; 
  border-style: solid;
  border-color: #76B0E4;
  min-height: calc(100% - 170px);
  border-width: 4px 0px 2px 0px;
  color: #3F6E98;
}

.js-txbox-line{
  margin-top: 10px;
}

.usu-name{
    text-align: center;
    font-size: 24px;
    width: 240px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
}

#map {
  height: 75vh;
  width: 100%;
}


.oculto{
  color: transparent;
  height: 0px;
}

.row-map{
  margin-bottom: 50px;
}

.redondo{
  border: 6px solid #3F6E98;
  border-radius: 50px;
  overflow: hidden;
}

.row-map{
  margin: 0, auto;
border: 1px solid #c5c5c5;
}

.slides{
  height: 60px;
  border: 1px solid #c5c5c5;
  padding-bottom: 77px;
  padding-top: 15px;
  background-color: #FEFEFE;

}


.links{
  height: auto;
  margin-top: 10px;
  font-size: 24px;
}

.js-radio-box{
width: 31px;
text-align: center;
border: 0;
color: #3F6EAB;
font-weight: bold;
background-color: #FEFEFE;
}

#js-radio-box1{  
width: 31px;
}

#js-radio-box2{  
width: 33px;
}

.text-slide{
  width: 100%;
  text-align: center;
}

.usuarios{
  display: block;
  text-align: center

}

.boton{
  background-color: #3F6E98;
  text-align: center;
  border: 1px solid #c5c5c5;
  padding-left: 5px;
  padding-right: 5px;
}

.boton:hover{
  background-color: #c5c5c5;
  text-align: center;
  border: 1px solid #3F6E98;
  padding-left: 5px;
  padding-right: 5px;
}

#slider1{
  font-size: 20px;
}

#slider2{
  font-size: 20px;
}

.one-slide{
  padding-left: 50px;
  padding-right: 50px
}

.titulo{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.titulo{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.final-form{
  margin-bottom: 50px;
}

.js-modal-header{
  height: 50px;
}

.usu-name a:hover {
  color: red;
}


.usuarios {

  .usu-name{

    &:nth-child(10n+1) {
      .redondo {
        border-color: red;
      }
    }

    &:nth-child(10n+2) {
      .redondo {
        border-color: blue;
      }
    }

    &:nth-child(10n+3) {
      .redondo {
        border-color: orange;
      }
    }

    &:nth-child(10n+4) {
      .redondo {
        border-color: green;
      }
    }

    &:nth-child(10n+5) {
      .redondo {
        border-color: yellow;
      }
    }

    &:nth-child(10n+6) {
      .redondo {
        border-color: indigo;
      }
    }

    &:nth-child(10n+7) {
      .redondo {
        border-color: fuchsia;
      }
    }

    &:nth-child(10n+8) {
      .redondo {
        border-color: maroon;
      }
    }

    &:nth-child(10n+9) {
      .redondo {
        border-color: gray;
      }
    }

    &:nth-child(10n+10) {
      .redondo {
        border-color: black;
      }
    }
  }
}


